<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="portable.accord.core" version="2.14.4.50319" targetFramework="wpa81" />
  <package id="portable.accord.imaging" version="2.14.4.50319" targetFramework="wpa81" />
  <package id="portable.accord.machinelearning" version="2.14.4.50319" targetFramework="wpa81" />
  <package id="portable.accord.math" version="2.14.4.50319" targetFramework="wpa81" />
  <package id="portable.accord.statistics" version="2.14.4.50319" targetFramework="wpa81" />
  <package id="portable.accord.vision" version="2.14.4.50319" targetFramework="wpa81" />
  <package id="portable.aforge.core" version="2.2.5.50319" targetFramework="wpa81" />
  <package id="portable.aforge.imaging" version="2.2.5.50319" targetFramework="wpa81" />
  <package id="portable.aforge.math" version="2.2.5.50319" targetFramework="wpa81" />
  <package id="portable.aforge.vision" version="2.2.5.50319" targetFramework="wpa81" />
  <package id="shim" version="1.0.1.50407" targetFramework="wpa81" />
  <package id="shim.drawing" version="2.2.5.50331" targetFramework="wpa81" />
</packages>