<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="3.5.1" targetFramework="win81" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="win81" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.1" targetFramework="win81" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.5.1" targetFramework="win81" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="win81" />
  <package id="portable.aforge.core" version="2.2.5.50504" targetFramework="win81" />
  <package id="portable.aforge.imaging" version="2.2.5.50504" targetFramework="win81" />
  <package id="portable.aforge.math" version="2.2.5.50504" targetFramework="win81" />
  <package id="shim" version="1.0.1.50427" targetFramework="win81" />
  <package id="shim.drawing" version="2.2.5.50504" targetFramework="win81" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="win81" />
</packages>