<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OxyPlot.Core" version="2015.1.804-alpha" targetFramework="wpa81" />
  <package id="OxyPlot.WindowsUniversal" version="2015.1.804-alpha" targetFramework="wpa81" />
  <package id="portable.accord.core" version="2.14.0.50204" targetFramework="wpa81" />
  <package id="portable.accord.machinelearning" version="2.14.0.50204" targetFramework="wpa81" />
  <package id="portable.accord.math" version="2.14.0.50204" targetFramework="wpa81" />
  <package id="portable.accord.statistics" version="2.14.0.50204" targetFramework="wpa81" />
  <package id="portable.aforge.core" version="2.2.5.50205" targetFramework="wpa81" />
  <package id="portable.aforge.math" version="2.2.5.50204" targetFramework="wpa81" />
  <package id="shim" version="1.0.1.50208" targetFramework="wpa81" />
</packages>