<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="portable.aforge.core" version="2.2.5.50205" targetFramework="wp80" />
  <package id="shim" version="1.0.1.50208" targetFramework="wp80" />
  <package id="shim.drawing" version="2.2.5.50209" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
  <package id="Xamarin.Forms" version="1.4.0.6341" targetFramework="wp80" />
</packages>