<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="portable.aforge.core" version="2.2.5.50504" targetFramework="win81" />
  <package id="shim" version="1.0.1.50427" targetFramework="win81" />
  <package id="shim.drawing" version="2.2.5.50504" targetFramework="win81" />
  <package id="Xamarin.Forms" version="1.4.2.6359" targetFramework="win81" />
</packages>