<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="portable.accord.core" version="3.1.0-pre" targetFramework="monoandroid403" />
  <package id="portable.accord.imaging" version="3.1.0-pre" targetFramework="monoandroid403" />
  <package id="portable.accord.machinelearning" version="3.1.0-pre" targetFramework="monoandroid403" />
  <package id="portable.accord.math" version="3.1.0-pre" targetFramework="monoandroid403" />
  <package id="portable.accord.statistics" version="3.1.0-pre" targetFramework="monoandroid403" />
  <package id="shim" version="2.1.0-pre" targetFramework="monoandroid403" />
  <package id="shim.drawing" version="3.0.0" targetFramework="monoandroid403" />
</packages>