<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="portable.aforge.core" version="2.2.5.50205" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="portable.aforge.imaging" version="2.2.5.50204" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="portable.aforge.math" version="2.2.5.50204" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="shim" version="1.0.1.50208" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="shim.drawing" version="2.2.5.50209" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>